/* GLOBAL STYLES */
body {
  font-family: "Saira", sans-serif;
  overflow-x: hidden;
  max-width: 1660px;
  scrollbar-gutter: stable;
  overflow-y: scroll;
}
h5 {
  font-size: 1rem;
}
li {
  font-size: 10px;
  text-align: left;
  flex-shrink: 0;
}
span {
  font-size: 1.5em;
}
img {
  width: auto;
  max-width: 130px;
}
p {
  font-size: 1rem;
  margin: 1rem 2rem;
}

#app {
  margin: 0 5rem;
}

.position-depth {
  list-style: none;
  padding: 0.25rem 0;
  text-align: center;
  overflow-x: auto;
  overflow-y: visible;
}
.teamSelectContainer {
  text-align: center;
}
.team-hero-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sectionDepth {
  margin-top: 1rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 10px;
}
.grid-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.position-depth {
  display: flex;
  flex-direction: row;
  --scrollbar-color: grey;
  width: 100%;
  column-gap: 1vw;
}
.playerCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  border-style: solid;
  border-width: 4px;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
  height: 100%;
  color: white;
}
.playerNameContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
#team-logo {
  width: 5rem;
  height: 5rem;
}

.player-card-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.positionalRoster-leftCol {
  display: flex;
  flex-direction: column;
  flex-basis: 8%;
}

.position-abbr {
  min-width: 30px;
  margin: 0;
}

.position-depth::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.position-depth::-webkit-scrollbar {
  height: 6px;
  margin-top: 2px;
  background-color: #f5f5f5;
}

.position-depth::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: var(--scrollbar-color);
}

.position-sort {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.position-sort-label {
  font-size: 1vw;
}

.positionFilter-button.active {
  color: white;
  background-color: red;
}

.positional-roster {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding-bottom: 1rem;
}

.playerStatsContainer {
  display: flex;
  flex-direction: column;
}

.playerStatsContainer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.playerStat {
  margin-bottom: 0;
}

#player-tooltip {
  position: absolute;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 12px;
}

#tooltip-content-container {
  border: 100px solid red;
}

.player-tooltip-caption {
  margin: 0;
}

.individual-position-buttons {
  display: flex;
}

@media screen and (min-width: 900px) {
  body {
    text-align: center;
    margin: 0 auto;
  }
  h1,
  h2 {
    font-size: 1.7em;
    text-align: center;
  }
  section {
    margin: 1rem;
  }
  .positionFilterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1rem;
    margin-bottom: 2rem;
  }

  .playerCard-hero {
    display: flex;
    justify-content: center;
  }

  .position-depth {
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .position-depth-player {
    flex-basis: 30%;
  }

  .playerInfoContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-color: black;
    justify-content: center;
  }
  .playerNameContainer {
    flex-basis: 30%;
  }
  .player-name {
    font-size: 1.5em;
  }

  .no-players-message {
    margin: 0 auto;
    font-size: 1.5vw;
  }

  .playerStatsContainer {
    row-gap: 0.3rem;
    padding-bottom: 0.5rem;
  }

  .playerStatsContainer-row {
    column-count: 2;
    row-gap: 1rem;
  }
}

@media screen and (max-width: 900px) {
  body {
    margin: 0 1rem;
  }
  h1,
  h2 {
    text-align: center;
  }
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 1.4vw;
  }

  .positionFilter-button {
    flex-basis: 20%;
  }
  #app {
    margin: 0;
  }
  .no-players-message {
    margin: 0 auto;
    font-size: 2.5vw;
  }
  .individual-position-buttons {
    flex-wrap: wrap;
  }
  .position-abbr {
    font-size: 3vw;
    margin: 0;
  }
  .sectionDepth {
    padding: 0.25rem;
  }

  .sort-select {
    font-size: 0.5rem;
  }

  .position-depth {
    margin: 0;
  }

  .position-depth-player {
    flex-basis: 45%;
  }

  .position-sort-label {
    font-size: 3.1vw;
  }

  .positional-roster {
    padding-bottom: 0.5rem;
  }

  .playerCard {
    padding: 0.5rem;
    border-width: 2px;
    background-color: black !important;
    justify-content: center;
  }
  .player-name {
    font-size: 3.2vw;
    margin: 0;
    padding: 0;
  }
  .positionFilterContainer {
    margin-bottom: 1rem;
    text-align: center;
  }

  .playerNameContainer {
    justify-content: center;
    column-gap: 5px;
  }
  .playerNameContainer-pos {
    display: none;
  }
  .playerNameContainer-jer {
    display: none;
  }

  .playerCard-hero {
    display: none;
  }

  .playerInfoContainer {
    background-color: unset;
    flex-basis: auto;
  }

  .playerStatsContainer-row {
    font-size: 10px;
  }
}
